.modal{
    position:absolute;
    left:0;
    top:0;

    width:100vw;
    height:100vh;

    backdrop-filter: blur(10px);

    z-index:100;
}
.modal-content{
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:300px;
    height:300px;

    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr min-content;

    background: lightpink;
    border:1px solid black;
}
.modal-content > div{
    grid-column: span 2;
    overflow-y:scroll;
    overflow-x:auto;
}