
#site-selection{
    width:var(--grid-mask-size);
    aspect-ratio: 1/1;

    grid-column: 5;
    grid-row:2 / span 4;

    display:grid;
    --num-cols: 1;
    --num-rows: 1;
    grid-template-columns: repeat(var(--num-cols),1fr);
    grid-template-rows: repeat(var(--num-rows),1fr);
}
#site-selection *{
    border:1px solid black;

    height:var(--item-size);
    width:var(--item-size);
}