.command-is-running{
    cursor:wait;
}
#main{
    height:100vh;
    overflow-y: hidden;
    display:grid;
    --leftCol:2fr;
    --rightCol:1fr;
    grid-template-columns: var(--leftCol) 20px var(--rightCol);

    --main-commandline-height:3em;
    grid-template-rows: calc(100% - var(--main-commandline-height)) var(--main-commandline-height);
}
#main > *.separator-vert{
    margin-inline:0.5em;
}
#main > *:not(.separator-vert){
    padding:0.3em;
}
#main-view{
    overflow-y:auto;
    max-height:100%;
}
#main-control{
    height:100%;
    overflow-y:auto;
}
#main-control>*{
    min-height:min-content;
    max-height:100%;
    overflow-y: auto;
    display:grid;
    row-gap:var(--gridgap);
}
#main-commandline{
    grid-column: span 3;
    border-top:1px solid var(--text-color);

    height:var(--main-commandline-height);

    display:grid;
    grid-template-columns:1fr auto;
}