.modal{
    position:absolute;
    left:0;
    top:0;

    width:100vw;
    height:100vh;

    backdrop-filter: blur(10px);

    z-index:100;
}
.modal-content{
    position:relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:auto;
    max-width:65vw;
    height:auto;

    display:grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content 1fr min-content;

    background: var(--background-color);
    border:1px solid var(--text-color);
    padding:0.5em;
}
.modal-content > div{
    grid-column: span 2;

    overflow-y:auto;
    overflow-x:auto;
}