
/* contains multiple .plot-img */
.plot-display{
    position:relative;

    background: var(--plot-background);
    overflow:hidden;
    border:1px solid grey;
}
.plot-img{
    user-select: none;

    position: absolute;

    border:1px solid var(--plot-item-border);

    transform-origin: bottom left;
    bottom:0;left:0;
    width:var(--width);
    height:var(--height);

    transform: scaleX(var(--scale-x)) scaleY(var(--scale-y)) translateX(calc( var(--left) / var(--scale-x))) translateY( calc( -1 * var(--bottom) / var(--scale-y)));
}