
/* contains multiple .plot-img */
.plot-display{
    position:relative;

    background: var(--plot-background);
    overflow:hidden;
    border:1px solid grey;
}
.plot-img{
    user-select: none;

    position: absolute;

    border:1px solid var(--plot-item-border);

    left:var(--left);
    bottom:var(--bottom);
    width:calc( var(--scale-x) * var(--width) );
    height:calc( var(--scale-y) * var(--height) );
}