*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    cursor:default;

    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

button[disabled],input[type="submit"][disabled]{
    cursor:not-allowed;
}
select[disabled],option[disabled],input[type="checkbox"][disabled]{
    cursor:not-allowed;
}
input[type="text"][disabled],input[type="number"][disabled],textarea[disabled]{
    cursor:not-allowed;
}

button:not([disabled]),input[type="submit"]:not([disabled]){
    cursor:pointer;
}
select:not([disabled]),option:not([disabled]),input[type="checkbox"]:not([disabled]){
    cursor:pointer;
}
input[type="text"]:not([disabled]),input[type="number"]:not([disabled]),textarea:not([disabled]){
    cursor:text;
}

a,a:visited{
    text-decoration:underline;
    color:blue;
    cursor:pointer;
}