
.section{
    height:min-content;
    width:auto;

    overflow-y:hidden;
    overflow-x:visible;

    border:3px solid var(--section-border-color);
    border-radius:0.4em;
}
.section-header{
    padding: 0.1em;
    --font-weight: bold;
    font-family: monospace;
    font-size: 1em;
    text-align: center;
    background-color: var(--section-header-background-color);
    color: var(--section-header-text-color);
}
.section > *:not(.section-header){
    margin:0.3em;
}