button{
    padding:0.2em;
    border:1px solid var(--button-border-color);
    border-radius: 0.4em;
}
label{
    height:min-content;
    width:max-content;
}
select{
    border:1px solid var(--text-color);
}
select > option{
    padding-inline: 0.3em;
}
input[type="number"],input[type="text"],input[type="time"],textarea{
    border:1px solid rgb(176, 176, 176);
}
input[type="number"],input[type="text"],input[type="time"],textarea{
    padding:0.2em;
}
/*on firefox the number input spinner buttons are always visible, on chrome they need this fix*/
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}