
.tab-header-container{
    display:grid;
    grid-template-columns: repeat( 4, auto);

    border-bottom: 1px solid var(--text-color);

    overflow-y: auto;
}
.tab-header-container > *{
    padding:0.6em;
    padding-inline:0.5em;
    margin-inline:0.2em;
    cursor:pointer;

    border:1px solid var(--text-color);
    border-bottom:none;

    border-radius: 0.45em 0.45em 0 0;
}
.tab-header-container > *:hover{
    text-decoration: underline;

    border:1px solid var(--tab-header-hover-bgcolor);
    border-bottom:none;

    /* these are not applied because tab headers are also buttons, and the button theme has higher precedence (for some reason) */
    background-color: var(--tab-header-hover-bgcolor);
    color: var(--tab-header-hover-textcolor);
}
.tab-header-container > *:not(.active){
    background-color: var(--tab-header-inactive-bgcolor);
    color: var(--tab-header-inactive-textcolor);
}
.tab-header-container > *.active{
    background-color: var(--tab-header-active-bgcolor);
    color: var(--tab-header-active-textcolor);
    
    font-weight: bold;
}
.tab-body-container{
    border: 1px solid var(--text-color);
    border-top: none;

    padding:0.3em;
}