
body{
    background:var(--background-color);
    color:var(--text-color);

    --theme-color:rgb(110, 172, 192);
}
body.light-theme{
    --section-header-background-color:var(--theme-color);
    --section-header-text-color:black;
    --section-border-color:var(--section-header-background-color);

    --disabled-background-color:var(--background-color);
    --disabled-text-color:var(--placeholder-text-color);

    --background-color:#EEEEEE;
    --text-color:black;
    --placeholder-text-color:rgb(110, 110, 110);

    --button-text-color:black;
    --button-background-color:rgb(205, 205, 205);
    --button-background-hover-color:rgb(176, 176, 176);
    --button-border-color:rgb(167, 167, 167);

    --plot-background: lightgrey;
    --plot-item-border: black;

    /* tab header colors */
    --tab-header-active-bgcolor:lightgrey;
    --tab-header-active-textcolor:black;

    --tab-header-inactive-bgcolor:white;
    --tab-header-inactive-textcolor:black;

    --tab-header-hover-bgcolor:white;
    --tab-header-hover-textcolor:white;
}
body.dark-theme{
    --section-header-background-color:var(--theme-color);
    --section-header-text-color:black;
    --section-border-color:var(--section-header-background-color);

    --disabled-background-color:var(--background-color);
    --disabled-text-color:var(--placeholder-text-color);

    --background-color:#303030;
    --text-color:white;
    --placeholder-text-color:rgb(174, 174, 174);

    --button-text-color:white;
    --button-background-color:rgb(86, 86, 86);
    --button-background-hover-color:rgb(128, 128, 128);
    --button-border-color:rgb(125, 125, 125);

    --plot-background: black;
    --plot-item-border: white;

    /* tab header colors */
    --tab-header-active-bgcolor:#606060;
    --tab-header-active-textcolor:white;

    --tab-header-inactive-bgcolor:#282828;
    --tab-header-inactive-textcolor:white;

    --tab-header-hover-bgcolor:rgba(1,1,1,0);
    --tab-header-hover-textcolor:black;
}

button{
    background:var(--button-background-color);
    color:var(--button-text-color);
}
button:hover:not([disabled]){
    background:var(--button-background-hover-color);
}
input[disabled],select[disabled]{
    background-color:var(--disabled-background-color);
    color:var(--disabled-text-color);
}
input[type="number"]:not([disabled]),textarea:not([disabled]),input[type="text"]:not([disabled]),select:not([disabled]){
    background-color:var(--background-color);
    color:var(--text-color);
}
/* input */::placeholder{
    color:var(--placeholder-text-color);
    font-style: italic;
}