
/* class to be applied to a tooltip popup element (the tooltip element, not the element that spawns the tooltip) */
.p-tooltip{
    position: absolute;

    top: var(--top-offset);
    left: var(--left-offset);
    /* transform to make origin the bottom center of this element */
    transform: translateY(-100%) translateX(-50%);
    z-index: 100;

    /* make as wide as sensible, but cap at brief line length */
    width: max-content;
    max-width: 30em;

    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid var(--text-color);

    background: var(--background-color);
}
:not(button)[p\:tooltip]:hover{
    cursor:help;
    /* underline in addition to cursor change to clearly indicate the source of the tooltip popup */
    text-decoration: underline;
}