*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    cursor:default;
}

button{
    cursor:pointer;
}
input[type="submit"]{
    cursor:pointer;
}
select,option,input[type="checkbox"]{
    cursor:pointer;
}
input[type="text"],input[type="number"],textarea{
    cursor:text;
}

a,a:visited{
    text-decoration:underline;
    color:blue;
    cursor:pointer;
}